/*
 * Copyright 2017 Google Inc. All Rights Reserved.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

 body {
  font-family: monospace;
  margin: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  -webkit-user-select: none;
  user-select: none;
  background-color: rgb(69, 90, 100);
}

div.demo-card {
  width: 80vw;
  margin: 20px auto;
  padding: 16px;
}

#enter-ar-info .mdl-card__title {
  color: #fff;
  height: 176px;
  background-color: rgb(96, 125, 139);
}

body.unsupported #enter-ar-info {
  display: none;
}

body.ar #enter-ar-info {
  display: none;
}

#unsupported-info {
  display: none;
}

body.unsupported #unsupported-info {
  display: block;
}

#info {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  margin: 1em 1em 2em 1em;
  z-index: 10;
  display: block;
  line-height: 2em;
  text-align: center;
  display: none;
  width: 100%;
}

body.ar #info {
  display: block;
}

#info * {
  color: #fff;
}

#info span {
  background-color: rgba(40, 40, 40, 0.4);
  padding: 0.4em 0.6em;
  width: 80vw;
  border-radius: 0.1em;
}

#stabilization {
  background-image: url(../assets/stabilization.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 10;
  display: none;
}

body.ar #stabilization {
  display: block;
}

body.ar.stabilized #stabilization {
  display: none;
}

#wrong-hosting-root { display: none; }

#buttonid {
  border: 0;
  background-color: #582841;
  border-radius: 30%;
  box-shadow: rgba(1, 60, 136, .5) 0 -1px 3px 0 inset, rgba(0, 44, 97, .1) 0 3px 6px 0;
  color: #fff;
  cursor: pointer;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  line-height: 38px; 
}

.container{
  position: relative;
  width: 100%;
  height: 230px;
}

.hex {
  display: inline-block;
  filter: url('#goo');
  color: #582841;
  width: 90px;
  position: absolute;
  text-align: center;
  font-size: 24px;
  line-height: 1;
}

.hex::before {
  content: "";
  display: block;
  background: currentColor;
  padding-top: 86.6%;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: relative;
}

.hex span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: monospace;
  font-size: 14px;
}

.hidden {
  display: none;
}

.pos0 {
  top: 5px;
  left: 3px;
}

.pos1 {
  top: 45px;
  left: 73px;
}

.pos2 {
  top: 85px;
  left: 3px;
}

.pos3 {
  top: 125px;
  left: 73px;
}

.pos4 {
  top: 165px;
  left: 3px;
}

.pos5 {
  top: 205px;
  left: 73px;
}

.pos6 {
  top: 245px;
  left: 3px;
}

.pos7 {
  top: 285px;
  left: 73px;
}

.pos8 {
  top: 5px;
  right: 5px;
}

.pos9 {
  top: 5px;
  right: 5px;
}

.pos10 {
  top: 5px;
  right: 5px;
}


